html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
 line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}

nav ul {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 text-decoration: none;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */

hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}

/******************custom css*************************/ 
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Questrial', sans-serif;
*/

body {
    overflow: visible;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: auto;
    color: lightgray;
    padding: 5px 0 5px 15px;
}

.nav1 li {
    padding: 0.3rem;    
}

.fa-search {
    font-size: 18px;
    color: lightgray;
    margin-right: 10px;
}

.nav1 :nth-child(2) {
    padding-right: .8rem;
}

.nav1 li a {
    color: white;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(247, 247, 247);
}

.nav2 {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-auto-flow: column;
    background: rgb(247, 247, 247);
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-left: 0;
    }
    
.logotop {
    height: 15px;
    position: relative;
    top: 15px;
}

.nav2 ul {
    justify-self: start;
}

.divo1 {
    width: 105px;
    background: linear-gradient(to bottom right,#c09,#f42 85%) no-repeat, url(assets/home-1.gif) no-repeat;
    background-size: 105px;
}

.divo1:hover {
    background: url(assets/home-1.gif) no-repeat;
    background-size: 105px;
}

.nav2 li {    
    padding: 15px 0 15px 0;
}

.sticky ul li a:hover {
    color:black;
    font-weight: 800;
}

.nav2 div {
    border-left: 1px solid lightgray;
    padding: 0 10px 0 20px;
    background-color: rgb(247, 247, 247);
    height: 45px;
    position: relative;
}

.nav2 div a {
    position: relative;
    top: 15px;
}

.nav2 li a {
    color:gray;
    padding-right: 20px;
}

.nav3 {
    background: #fd3;
    display: flex;
    padding: 10px 0 10px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.nav3 > a {
    color: black;
}

ul {
    display: flex;
    list-style: none;
}

.main {
    display: grid;
    margin: 2px 10px;
    gap: 10px;
    grid-template-columns: minmax(100px,2fr) minmax(50px, 1fr);
    grid-template-areas: 
    "big small"
    "big smaller";
}

.main1:hover, 
.main2:hover,
.main3:hover { 
    filter: alpha(opacity=80);
    opacity: .8;
    transition: .3s;
}

@media (max-width:900px) {
    .latest-articles :nth-child(4){
        display: none;
    }

    .latest-articles {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
    }
    .latest-articles > article {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 30px;
        flex: 1;
    }
}

@media (max-width:800px) {
    .main {
        display: grid;
        grid-template-areas: 
        "big"
        "small"
        "smaller";
    }

    .latest > header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
    }

    .latest-articles {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
    }

    .news-articles article {
        width: 260px;
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    }

    .lates-notes {
        margin-bottom: 30px;
        padding-left: 20px;
    }
    
}

@media (max-width: 700px) {
    .latest-articles {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 700px;
    }

    .article {
        display: grid;
    }

    .latest-articles > article > img {
        position: relative;
        height: 40px !important;
        width: 40px !important;      }
}

.main1 {
    grid-area: big;
    background: url(assets/image-gradient.png) repeat-x, url(assets/cover-gradient.png) no-repeat, url(assets/main1.png) no-repeat;
    background-size: contain, 300%, cover;
    background-position-y: 130px, -700px, top; 
    height: 72vh; 
    display: grid;   
    grid-template-columns: repeat(autofit, minmax(50%, 1fr));
    grid-template-rows: 1fr 1fr fr 1fr;
}

.mainlogo {
    width: 60%;
    padding-left: 6%;
    padding-top: 4%;
    grid-column: 1;
    align-self: top;
    grid-column: 1 / span 2;
}

.date {
    display: inline;
    align-self: flex-start;
    grid-column: 3;
    align-self: normal;
    padding-top: 20px;
    font-family: 'Questrial', sans-serif;
    color: white;
    justify-self: end;
    padding-right: 10px;
}

.main2 {
    grid-area: small;
    background: url(assets/image-gradient.png), url(assets/main2.jpg);
    background-size: contain, cover;
    background-position-y: bottom, top;
    height: 35vh;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main3 {
    grid-area: smaller;
    background: url(assets/image-gradient.png), url(assets/main3.jpg);
    background-size: contain, cover;
    background-position-y: bottom, top;
    height: 35vh;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.main1 h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 40px;
}

.main1 h1 {
    font-size: 5vw;
    font-family: 'Questrial', sans-serif;
    color:white;
    grid-row: 3/4;
    grid-column: 1/2;
    padding-left: 40px;
} 

.main1 h1 a {
    color:white;
}

.main1 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: lightgray;
    grid-row: 4/5;
    grid-column: 1/3;
    padding-left: 40px;
}

.main2 h1,
.main3 h1 {
    font-size: 2vw;
    font-family: 'Questrial', sans-serif;
    color:white;
    padding-left: 10px;
    padding: 10px;
}

.main2 h3,
.main3 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: lightgray;
    padding-left: 10px;
    padding: 5px 10px;
}

.main2 h1 a,
.main3 h1 a {
    color: white;
}

.latestn {
    display: grid;
    margin-top: 50px;
}

.latestn > h1 {
    margin-left: 95px;
}
h1,
.artset-title {
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    color: rgb(255, 62, 28);
    font-weight: 800;
}

.news-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

}

.news-articles article {
  width: 260px;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}

.news-articles article > img {
  width: 250px;
}

.newstitle {
    padding: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 20px;
}

.news-subtitle {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 5px;
    color: gray;
    font-size: 12px;
}

.latest {
    display: grid;
    max-width: 1100px;
    margin: auto;
}

.latest > header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.latest div > a {
    text-decoration: none;
    color: tomato;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
}

.latest-articles {
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
}

.latest-articles > article {
    display: grid;
    padding: 0 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(1fr, auto));
    position: relative;
    flex-basis: 23%;
}

.latest-articles > article > img {
    width: 20%;
    position: absolute;
    top:10px;
    left: 30px;
}

.latest-title {
    background-color: rgb(255, 38, 0);
    grid-row: 1 / 2;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-weight: 800;
    text-align: center;
    align-self: center;
    padding: 10px;
}

.latest-money {
    background-color: rgb(255, 224, 219);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color: rgb(3, 3, 3);
    font-family: 'Questrial', sans-serif;
    font-weight: 800;
    text-align: center;
    align-self: end;
    padding: 10px 10px 0 10px;
}

.latest-series {
    background-color: rgb(255, 224, 219);
    grid-row: 3;
    color: rgb(105, 105, 105);
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    text-align: center;
    align-self: start;
    font-size: 12px;
    padding-bottom: 10px;
}

.latest-tag,
.latest-brief {
    padding: 10px 10px 10px 10px;
    color: rgb(59, 59, 59);
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    font-size: 13px;    
}

.lates-notes {
    padding-top: 20px;
    border-top: 1px solid rgb(255, 147, 128);
    color: rgb(59, 59, 59);
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    font-size: 13px;  
}

.categories {
    padding-top: 30px;
}

.sets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artset {
    padding: 30px;
    margin: 30px;
}

.artset > h1 {
    margin-bottom: 20px;
}
.artset-title1,
.artset-title2,
.artset-title3 {
    padding: 2px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
}

.artset-title1 {
    font-size: 10px;
    text-transform: uppercase;
}

.artset-title2 {
    font-size: 20px;
}
.artset-title3 { 
    font-size: 10px;
}

.artset-image {
    height: 276px;
    width: 368px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 0;
    background-size: 130% 130%;
}

.d111 {
    background: url(assets/u1.png) no-repeat;
}

.d222 {
    background: url(assets/u2.png) no-repeat;
}

.d333 {
    background: url(assets/u3.png) no-repeat;
}

.d444 {
    background: url(assets/u4.png) no-repeat;
}

.d555 {
    background: url(assets/u5.png) no-repeat;
}

.d666 {
    background: url(assets/u6.png) no-repeat;
}

.d777 {
    background: url(assets/u7.png) no-repeat;
}

.d888 {
    background: url(assets/u8.png) no-repeat;
}



/* media 480 media 1152 media 768 */
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Questrial', sans-serif;
*/